# Ignore node_modules recursively
**/node_modules/
node_modules/

# Ignore build output folders
**/dist/
dist/
**/build/
build/

# Ignore git folder
.git/
.gitignore
.gitattributes

# Ignore docs, Docker compose config, and readmes
docs/
docker-compose.yml
README.md

# Ignore IDE files and OS garbage
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
